* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app.loading div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app.loaded {
  padding: 20px
}

.loading {
  background-color: red;
}

.app__loading--text {
  font-size: 2rem;
  margin-left: 2rem;
  text-transform: uppercase;
  text-align: center;
}